* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #141414;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}
li {
  display: inline;
}
.header {
  background-color: #141414;
  text-align: center;
  padding: 20px;
}
/* cor do header*/
.header {
  background-color: #141414;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: #141414;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
/*Cor de fundo*/
/* Change the background color on mouse-over */
.header .active:hover {
  background-color: #ffffff;
  color: #141414;
}

/* Style the active/current link*/
.header a.active {
  color: #141414;
}

/* Float the link section to the right */
.header-right {
  float: none;
  height: 10px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

p {
  color: #141414;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  text-align: justify;
  padding: 0 10px 0 10px;
}
h1 {
  color: #42a0ed;
  text-align: center;
}
body {
  background-color: #ffffff;
  text-align: center;
  min-height: 100vh;
}
.header {
  padding-right: 0;
  padding-bottom: 2rem;
  display: flex;
}
.header img {
  display: block;
  margin: 1.25rem 0 8 auto;
  max-width: 100%;
  border-radius: 20px;
}

swiper-container {
}

swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 375;
  height: 200;
  object-fit: cover;
}

.swiper-v {
  background: #eee;
}
h2 {
  font-size: 30px;
}

.gallery-items img {
  margin: 20px;
}
.container img {
  border-radius: 20px;
}
iframe {
  border-radius: 20px;
}
.centro img {
  border-radius: 20px;
}
h4 {
  color: #ffffff;
}
@font-face {
  font-family: minhafonte;
  src: url("AVENGEANCE\ HEROIC\ AVENGER\ AT.otf") format("truetype");
}
h1 {
  font-family: minhafonte;
}
#favicon {
  border-radius: 20px;
}

footer {
  background-color: #141414;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
p {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}
li {
  display: inline;
}
.container {
  justify-content: center;
}
h5 {
  color: #42a0ed;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .header {
    background-color: #141414;
    justify-content: center;
    gap: 6px;
    align-content: center;
  }
  p {
    font-size: 12px;
  }

  @media screen and (max-width: 500px) {
    .header {
      background-color: #141414;
      justify-content: center;
      gap: 6px;
      align-content: center;
    }
    p {
      font-size: 12px;
    }
    .header img {
      display: block;
      margin: 1.25rem 0 8 auto;
      width: 25px;
      height: 25px;
      border-radius: 20px;
    }
  }
}
